<div class="card">
    <div class="card-body">
      <form [formGroup]="angForm" novalidate>
        <div class="form-group">
          <label class="col-md-4">Student Number</label>
          <input type="text" class="form-control" 
            formControlName="number" 
            #number 
            [(ngModel)] = "student.number"/>
        </div>
        <div *ngIf="angForm.controls['number'].invalid && (angForm.controls['number'].dirty || angForm.controls['number'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['number'].errors.required">
            Student Number is required.
          </div>
          <div *ngIf="angForm.controls['number'].errors.duplicate">
            Student Number is duplicated.
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Student First Name</label>
          <input type="text" class="form-control" 
            formControlName="firstName" 
            #firstName 
            [(ngModel)] = "student.firstName"/>
        </div>
        <div *ngIf="angForm.controls['firstName'].invalid && (angForm.controls['firstName'].dirty || angForm.controls['firstName'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['firstName'].errors.required">
            Student First Name is required.
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Student Last Name</label>
          <input type="text" class="form-control" 
            formControlName="lastName" 
            #lastName 
            [(ngModel)] = "student.lastName"/>
        </div>
        <div *ngIf="angForm.controls['lastName'].invalid && (angForm.controls['lastName'].dirty || angForm.controls['lastName'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['lastName'].errors.required">
            Student Last Name is required.
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Student Birthday </label>
          <input type="date" class="form-control"
          formControlName="birthday" 
          #birthday 
          [ngModel]="student.birthday | date:'yyyy-MM-dd'" 
                 (ngModelChange)="student.birthday = $event"/>
        </div>
        <div *ngIf="angForm.controls['birthday'].invalid && (angForm.controls['birthday'].dirty || angForm.controls['birthday'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['birthday'].errors.required">
            Birthday is required.
          </div>
          <div *ngIf="angForm.controls['birthday'].errors.olderThan">
            Student should be older than 16.
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Student Gender</label>
          <select class="form-control"
          formControlName="gender" 
            #gender
            [(ngModel)] = "student.gender">
            <option *ngFor="let gender of genders" value={{gender.value}}>
              {{gender.text}}
            </option>
          </select>
        </div>
        <div *ngIf="angForm.controls['gender'].invalid && (angForm.controls['gender'].dirty || angForm.controls['gender'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['gender'].errors.required">
            Student Gender is required.
          </div>
          <div *ngIf="angForm.controls['gender'].errors.min">
            Student Gender is required.
          </div>
        </div>
        <div class="form-group">
            <button (click) = "updateStudent(number.value, firstName.value, lastName.value, birthday.value, gender.value)" 
            type="submit" 
            class="btn btn-primary"
            [disabled]="angForm.pristine || angForm.invalid" >
              Update Student
            </button>
    </div>
      </form>
    </div>
  </div>