<form novalidate
[formGroup]="form">
<h3>Filter</h3>
<div class="row">
	<div class="col-md-3">
		<input type="text"
		formControlName="number"
		class="form-control"
		placeholder="Number"
		/>
	</div>
	<div class="col-md-3">
		<input type="date"
		formControlName="birthdayFrom"
		class="form-control"
		placeholder="age from"
		/>
	</div>
	<div class="col-md-3">
		<input type="date"
		formControlName="ageto"
		class="form-control"
		placeholder="age to"
		/>
	</div>
	<div class="col-md-3 col-sm-3">
		<button class="btn btn-primary"
		(click)="search(form.value)">Search</button>
	</div>
</div>