<table class="table table-hover">
    <thead>
    <tr>
        <td>Student Number</td>
        <td>Student First Name</td>
        <td>Student Last Name</td>
        <td>Student Birthday</td>
        <td>Student Gender</td>
        <td colspan="2">Actions</td>
    </tr>
    </thead>
  
    <tbody>
        <tr *ngFor="let student of students">
            <td>{{ student.number }}</td>
            <td>{{ student.firstName }}</td>
            <td>{{ student.lastName }}</td>
            <td>{{ student.birthday | date:'mediumDate'}}</td>
            <td>{{ Gender[student.gender] }}</td>
            <td><a [routerLink]="['/edit', student.id]" class="btn btn-primary">Edit</a></td>
            <td><a (click) = "deleteStudent(student.id)" class="btn btn-danger">Delete</a></td>
        </tr>
    </tbody>
  </table>
  <div class="card-footer pb-0 pt-3">
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item first-item">
            <a routerLink="." [queryParams]="{ page: 1 }" class="page-link">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item previous-item">
            <a routerLink="." [queryParams]="{ page: pager.currentPage - 1 }" class="page-link">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item number-item">
            <a routerLink="." [queryParams]="{ page: page }" class="page-link">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item next-item">
            <a routerLink="." [queryParams]="{ page: pager.currentPage + 1 }" class="page-link">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item last-item">
            <a routerLink="." [queryParams]="{ page: pager.totalPages }" class="page-link">Last</a>
        </li>
    </ul>
</div>